.completed-form{

    .item{
        margin-bottom: 1.5rem;
    }

    .field-name{
        font-size: 0.9rem;
        color: #676773;
        margin: 0 0 4px 0;
    }

    .custom-alert {
        padding: 0.5rem;
        background: #FFFEE6;
        border-radius: 4px;
        border: 1px solid rgba(0, 1, 38, 0.1);
    }
}